<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tpgbu?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">adminfFEuKc7</property>
    <property name="hibernate.connection.password">j1eBuEJujB6L</property>
    <mapping resource="com/gbu/StudentDetails.hbm.xml"/>
    <mapping resource="com/gbu/Applicants.hbm.xml"/>
    <mapping resource="com/gbu/Login.hbm.xml"/>
    <mapping resource="com/gbu/Jobs.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
